<div class="container">
    <div class="wrapper">
        <h1>{{ form_title }}</h1>
        <div class="table-container">
            <table>
                <tbody *ngFor="let body of list_contents, let index = index">
                    <tr class="question-ttile">
                        <td colspan="2">
                            <div class="question-title-wrapper">
                                <p *ngIf="!body.editTitle">{{ body.question }}</p>
                                <input type="text" placeholder="Enter Your Question" *ngIf="body.editTitle"
                                    [(ngModel)]="body.question" class="editor-ele">
                                <button class="question-edit-btn editor-ele" title="edit" (click)="editTitle(index)"
                                    *ngIf="!body.editTitle">
                                    <mat-icon class="editor-ele">edit</mat-icon>
                                </button>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="delete-btn-wrapper">
                                <button class="delete-btn" title="delete-card"
                                    (click)="list_contents.splice(index, 1)"><mat-icon>delete</mat-icon></button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let ele of body.answers, let ansIndex = index;">
                        <td width="30%" style="text-align: center;">
                            <span *ngIf="!ele.editRow">{{ ele.code }}</span>
                            <input *ngIf="ele.editRow" type="text" class="editor-ele" placeholder="Enter Text"
                                [(ngModel)]="ele.code">
                        </td>
                        <td width="60%">
                            <span *ngIf="!ele.editRow">{{ ele.answer }}</span>
                            <input *ngIf="ele.editRow" type="text" class="editor-ele" placeholder="Enter Text"
                                [(ngModel)]="ele.answer">
                        </td>
                        <td width="10%" style="text-align: center;">
                            <div class="actions-btns-wrapper">
                                <button title="edit-row" class="editor-ele" *ngIf="!ele.editRow"
                                    (click)="editRow(index,ansIndex)">
                                    <mat-icon class="editor-ele">edit</mat-icon>
                                </button>
                                <button title="delete-row" class="editor-ele"
                                    (click)="deleteAnswer(body.answers,ansIndex)" title="delete-row">
                                    <mat-icon class="editor-ele">delete</mat-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="add-new-answer-btn" mat-raised-button
                                (click)="pushExtraAnswer(index)">add</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="add-new-btn-wrapper">
                <button class="add-new-btn" mat-raised-button (click)="pushEmptyData()">Add New</button>
                <button class="save-btn" mat-raised-button *ngIf="list_contents.length" (click)="saveFormData()">Save</button>
            </div>
        </div>
    </div>
</div>