/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  padding: 32px;
  background: #fafafa;
  padding-bottom: 100px;
}

button {
  text-transform: capitalize;
  cursor: pointer;
}

input {
  outline: transparent;
  padding-left: 18px !important;
}
